<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizworld">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icons8_quizlet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icons8_quizlet"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizWorld">
        <activity android:name=".activities.Profile"></activity>
        <activity android:name=".activities.Result" />
        <activity android:name=".activities.Question_Activity" />
        <activity android:name=".activities.signup" />
        <activity android:name=".activities.login" />
        <activity android:name=".activities.welcom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>